<div class="flex items-center justify-between">
  <h3
    class="font-normal text-white text-[18px] md:text-[22px] lg:text-[26px] mb-[12px]"
  >
    Yuborilgan topshiriqlar
  </h3>
  <button
    class="shadow-md p-[8px] rounded-[8px] bg-[#0BA5EC] cursor-pointer hover:bg-[#70b0ce] transition duration-200"
  >
    <span [innerHTML]="settingIcon"></span>
  </button>
</div>

<div class="flex flex-wrap gap-3 justify-center md:justify-start">
  @for (item of models; track $index) {
  <div class="relative bg-card rounded-[28px] w-[323px] pl-[12px] h-[90px]">
    <div class="flex-1">
      <p class="text-[36px] font-normal text-black">{{ item.count }}</p>
      <p class="text-[16px] font-normal text-black">
        {{ getLabel(item.label) }}
      </p>
    </div>
    <div
      class="absolute top-0 right-0 w-[40px] h-[40px] rounded-full bg-[rgb(255,255,255,0.4)] backdrop-blur-[20px] flex items-center justify-center"
    >
      <span [innerHTML]="icon"></span>
    </div>
  </div>
  }
</div>
