<div class="relative rounded-[20px] shadow-md w-full md:min-w-[524px]">
  <div
    class="flex items-center h-[40px] md:h-[56px] rounded-t-[10px] md:rounded-t-[20px] justify-between backdrop-blur-[24px] p-[8px] bg-gradient"
  >
    <h3 class="text-[14px] md:text-[16px] font-medium text-black">
      Ijro muddati bo’yicha
    </h3>
  </div>
  <div
    class="bg-white rounded-b-[10px] md:rounded-b-[20px] px-[4px] py-[6px] md:px-[8px] md:py-[12px]"
  >
    <canvas #deadlineChart class="w-full h-full"></canvas>
  </div>
</div>
