<div class="flex">
  <div class="flex flex-col flex-1 overflow-hidden">
    <app-navbar
      class="min-h-[56px] border-[var(--border-color)] border-b backdrop-blur-sm md:backdrop-blur-none"
      (toggleSidebar)="onToggleSidebar()"
    />
    <div class="flex flex-1">
      <div
        class="transition-[width] backdrop-blur-sm md:backdrop-blur-none absolute md:relative duration-300 ease-in-out overflow-hidden border-r border-[var(--border-color)] z-1000"
        [ngClass]="sidebarCollapsed ? 'w-0' : 'w-[240px] '"
      >
        <app-sidebar class="h-full"></app-sidebar>
      </div>

      <main class="flex-1 p-[12px]">
        <router-outlet />
      </main>
    </div>
  </div>
  <app-right-sidebar
    class="w-[56px] border-[var(--border-color)] border-l hidden xl:block"
  />
</div>
